@media screen and (max-width:840px) {

    .social-icons-footer {

        display:block;
        text-align:center;
    }

    .datos-1,.datos-2 {
        top:0px;
        right:0px;
        float:none;
    }
    .datos-1 {

        left:80px;
        padding-top:20px;
        display:inline-block;

    }
    .datos-2 {

        float:right;
        padding-top:20px;
        right:80px;

    }


}

@media screen and (max-width:767px) {

    .navbar-brand>img {
        max-width:60%;
        position: relative;
        top: -30px;

    }

    .container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{
        padding-top:15px;
        padding-bottom:15px;

    }

    header .intro-text .intro-heading {

        font-size: 30px;
        line-height: 50px;
        position:relative;
        top:25px;
        margin-bottom: 25px;
    }

    ul.social-icons li a {
        width: 40px;
        height: 40px;
        font-size:20px;  
        line-height: 38px;
    }
    .navbar-toggle {
        margin-right:15px;
    }

    .navbar-default {
        background-color:#fff;
    }
    .navbar-default .nav li a {
        color:#00aeef;
    }
    .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
        color: #FFF;
        background-color: #00aeef;
    }

    #social {
    height:200px;
    background-color:#121212;
    }

    .nav-tel {
    margin-left:0px;

    }

    .list-inline>li {
        padding-right:0px;
    }
    .btn-xl {
        font-size:12px;
    }

    #portfolio {
        background-image:none;
    }


}

@media screen and (max-width:630px) {

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;

    }

section h2.section-heading {
    font-size: 25px;
    }
}
@media screen and (max-width:500px) {
    .texto-cumple {
    font-size:25px;

}
.texto-noble {
    font-size:40px;

}
    .datos-1 p,.datos-2 p {

        font-size:12px;

    }

}

@media screen and (max-width:400px) {


.datos-1 {
    left:40px;
}
ul.social-icons-footer li a {
    font-size:20px;
    margin:0px 0px 10px;
    width:50px;
    height:50px;
    line-height: 50px;
}
#social {
    height:250px;
}


@media screen and (max-width:372px) {

    .datos-1{
        display:block;
        left:80px;

    }
    .datos-2 {
        right: 0px;
        float: none;
        padding: 0px;
        left:80px;
    }
}