@CHARSET "ISO-8859-1";

video {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	overflow: hidden;
}

#logo {
	width: 153px;
	height: 106px;
}

#services, #mapa, #social {
	background-color: #00adef;
}

#footer {
	background-color: #3a3a3a;
	color: white;
}

.clients {
	background-color: white;
}

#contact {
	padding-bottom: 30px;
}

#social {
	padding: 0px;
	height: 120px;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}