@CHARSET "ISO-8859-1";

video {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	overflow: hidden;
}

#logo {
	width: 150px;
	height: 106px;
	margin-top: -23px; 
	margin-left: 60px;
}

#services, #overlay, #social {
	background-color: #00adef;
}

#portfolio {
	background-color: #222;
	background-image: url(../img/torneos/fondo1.jpg);
	background-position: center;
	background-repeat: no-repeat
}

#services {
	padding-bottom: 0px;	
}

#footer {
	background-color: #3a3a3a;
	color: white;
}

.clients {
	background-color: white;
}

#contact {
	padding-bottom: 50px;
}

#social {
	padding: 0px;
	height: 120px;
}

#socialIcon {
	margin-right: 35px;
	color: white;
}

#socialIcon:hover{
	color: #00adef;
}

#sliderFotos{
	margin-top: 50px
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.overlay {
   background:transparent; 
   width:100%;
   height:600px; /* your iframe height */
}

.scrolloff {
	pointer-events: none;
}
